@page "/templates"
@layout MainLayout
@attribute [Authorize(Roles = ApplicationRoles.Admin)]
@inherits HESPageBase

@if (Initialized)
{
    <DataTableWrapper Loading="DataTableService.Loading">
        <WrapperHeader>
            <DataTableActions RefreshTable="@DataTableService.LoadTableDataAsync" CollapseFilter="@DataTableService.ShowFilter" SearchTextChanged="@DataTableService.SearchTextChangedAsync">
                <FilterForm>
                    <TemplateFilterComponent FilterChanged="DataTableService.FilterChangedAsync" />
                </FilterForm>
                <ActionButtons>
                    <button type="button" @onclick="CreateTemplateAsync" class="btn btn-primary mx-1 text-nowrap">
                        @Resource.Btn_CreateTemplate
                    </button>
                    @if (DataTableService.SelectedEntity != null)
                    {
                        <button type="button" @onclick="EditTemplateAsync" class="btn btn-light border mx-1 text-nowrap">
                            <img class="icon-btn" src="/svg/icon-edit.svg" />
                            @Resource.Btn_Edit
                        </button>
                        <button type="button" @onclick="DeleteTemplateAsync" class="btn btn-light border mx-1 text-nowrap">
                            <img class="icon-btn" src="/svg/icon-delete.svg" />
                            @Resource.Btn_Delete
                        </button>
                    }
                </ActionButtons>
            </DataTableActions>
        </WrapperHeader>
        <WrapperBody>
            <DataTable Items="DataTableService.Entities" SelectedItem="DataTableService.SelectedEntity" SelecedItemChanged="DataTableService.SelectedItemChangedAsync">
                <TableHeader>
                    <DataTableHeaderItem Title="@Resource.Label_Name"
                                         SortColumn="@nameof(Template.Name)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="@Resource.Label_Urls"
                                         SortColumn="@nameof(Template.Urls)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="@Resource.Label_Apps"
                                         SortColumn="@nameof(Template.Apps)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                </TableHeader>
                <TableRow>
                    <td>
                        @context.Name
                    </td>
                    <td>
                        @context.Urls
                    </td>
                    <td>
                        @context.Apps
                    </td>
                </TableRow>
            </DataTable>
        </WrapperBody>
        <WrapperFooter>
            <DataTablePagination CurrentPageChanged="DataTableService.CurrentPageChangedAsync"
                                 DisplayRowsChanged="DataTableService.DisplayRowsChangedAsync"
                                 TotalRecords="DataTableService.TotalRecords"
                                 CurrentPage="DataTableService.CurrentPage"
                                 DisplayRows="DataTableService.DataLoadingOptions.Take"
                                 DisplayRecords="DataTableService.Entities.Count" />
        </WrapperFooter>
    </DataTableWrapper>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}