@inherits HESModalBase

@if (LicensingSettings == null)
{
    <Loader />
}
else
{
    <EditForm Model="@LicensingSettings" OnValidSubmit="@UpdateLicensingSettingsAsync">
        <DataAnnotationsValidator />
        <div class="form-group">
            <Label For="@(() => LicensingSettings.ApiAddress)" class="text-gray" />
            <InputText @bind-Value="LicensingSettings.ApiAddress" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LicensingSettings.ApiAddress)" class="text-danger" />
        </div>
        <Label For="@(() => LicensingSettings.ApiKey)" class="text-gray" />
        <div class="input-group form-group">
            <InputText @bind-Value="LicensingSettings.ApiKey" class="form-control text-navyblue" type="@InputType" />
            <button class="btn btn-outline-secondary" type="button" @onmousedown="@(() => InputType = "Text")" @onmouseup="@(() => InputType = "Password")">@Resource.Btn_Show</button>
        </div>
        <ValidationMessage For="@(() => LicensingSettings.ApiKey)" class="text-danger" />
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
            <Button @ref="Button" Text="@Resource.Btn_Save" type="submit" class="btn btn-primary" />
        </div>
    </EditForm>
}