@inherits HESModalBase

@if (LdapSettings == null)
{
    <Loader />
}
else
{
    <EditForm Model="LdapSettings" OnValidSubmit="SaveSettingsAsync">
        <DataAnnotationsValidator />
        <ValidationErrorMessage @ref="ValidationErrorMessage" />
        <h5>Enter your credentials</h5>
        <p>These credentials will be used to connect to Active Directory via LDAPS</p>
        <div class="form-group">
            <Label For="@(() => LdapSettings.Host)" class="text-gray" />
            <InputText @bind-Value="LdapSettings.Host" class="form-control text-navyblue" placeholder="my.company.com" />
            <ValidationMessage For="@(() => LdapSettings.Host)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => LdapSettings.UserName)" class="text-gray" />
            <InputText @bind-Value="LdapSettings.UserName" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.UserName)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => LdapSettings.Password)" class="text-gray" />
            <InputText @bind-Value="LdapSettings.Password" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.Password)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => LdapSettings.MaxPasswordAge)" class="text-gray"><Suffix><b>(days)</b></Suffix></Label>
            <InputNumber @bind-Value="LdapSettings.MaxPasswordAge" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => LdapSettings.MaxPasswordAge)" class="text-danger" />
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
            <Button @ref="Button" Text="Save" type="submit" class="btn btn-primary" />
        </div>
    </EditForm>
}