@inherits HESModalBase
@using ITfoxtec.Identity.Saml2.Schemas

@if (RelyingParty == null)
{
    <Loader />
}
else
{
    <div class="border rounded bg-light p-2 mb-3 d-flex align-items-center">
        <div class="text-nowrap me-2">@Resource.Parameters_AddSaml2RelyingParty_Configure</div>
        <div class="w-100">
            <InputFile OnChange="@OnInputFileChangeAsync" class="form-control" />
        </div>
    </div>
    <EditForm Model="RelyingParty" OnValidSubmit="AddAsync">
        <DataAnnotationsValidator />
        <ValidationErrorMessage @ref="ValidationErrorMessage" />
        <div class="form-group">
            <Label For="@(() => RelyingParty.Issuer)" class="text-gray" />
            <InputText @bind-Value="RelyingParty.Issuer" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => RelyingParty.Issuer)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => RelyingParty.SingleSignOnDestination)" class="text-gray" />
            <InputText @bind-Value="RelyingParty.SingleSignOnDestination" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => RelyingParty.SingleSignOnDestination)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => RelyingParty.SingleLogoutResponseDestination)" class="text-gray" />
            <InputText @bind-Value="RelyingParty.SingleLogoutResponseDestination" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => RelyingParty.SingleLogoutResponseDestination)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => RelyingParty.SignatureValidationCertificateBase64)" class="text-gray" />
            <InputTextArea @bind-Value="RelyingParty.SignatureValidationCertificateBase64" rows="3" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => RelyingParty.SignatureValidationCertificateBase64)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => RelyingParty.NameIdentifierFormat)" class="text-gray" />
            <InputSelect @bind-Value="RelyingParty.NameIdentifierFormat" class="form-select text-navyblue">
                <option value="@NameIdentifierFormats.Unspecified">Unspecified</option>
                <option value="@NameIdentifierFormats.Email" selected>Email</option>
                <option value="@NameIdentifierFormats.X509SubjectName">X509SubjectName</option>
                <option value="@NameIdentifierFormats.Windows">Windows</option>
                <option value="@NameIdentifierFormats.Kerberos">Kerberos</option>
                <option value="@NameIdentifierFormats.Entity">Entity</option>
                <option value="@NameIdentifierFormats.Persistent">Persistent</option>
                <option value="@NameIdentifierFormats.Transient">Transient</option>                
            </InputSelect>
            <ValidationMessage For="@(() => RelyingParty.NameIdentifierFormat)" class="text-danger" />
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
            <Button @ref="Button" Text="@Resource.Btn_Add" type="submit" class="btn btn-primary" />
        </div>
    </EditForm>
}
