@page "/settings/parameters"
@layout MainLayout
@attribute [Authorize(Roles = ApplicationRoles.Admin)]
@inherits HESPageBase

@if (Initialized)
{
    <SettingsCard Title="Licensing" Description="API authentication key for ordering licenses and the address of the licensing server.">
        <div class="form-group">
            <label class="control-label text-gray">Api Address</label>
            @if (LicensingSettings?.ApiAddress != null)
            {
                <div class="alert alert-secondary" role="alert">
                    @LicensingSettings.ApiAddress
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Not set
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary me-1" @onclick="OpenDialogLicensingSettingsAsync">Set Licensing Settings</button>
            @if (LicensingSettings != null)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="OpenDialogDeleteLicenseSettingsAsync">Delete Settings</button>
            }
        </div>
    </SettingsCard>
    <SettingsCard Title="Domain" Description="To connect to the domain and import groups and users.">
        <div class="form-group">
            <label class="control-label text-gray">Domain Name</label>
            @if (LdapSettings != null)
            {
                <div class="alert alert-secondary" role="alert">
                    @LdapSettings.Host
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Not set
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary me-1" @onclick="OpenDialogLdapSettingsAsync">Set Domain Settings</button>
            @if (LdapSettings != null)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="OpenDialogDeleteLdapSettingsAsync">Delete Settings</button>
            }
        </div>
    </SettingsCard>
    <SettingsCard Title="Splunk" Description="Settings for sending events to the Splank.">
        <div class="form-group">
            <label class="control-label text-gray">Host</label>
            @if (SplunkSettings != null)
            {
                <div class="alert alert-secondary" role="alert">
                    @SplunkSettings.Host
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    Not set
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary me-1" @onclick="OpenDialogSplunkSettingsAsync">Set Splunk Settings</button>
            @if (SplunkSettings != null)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="OpenDialogDeleteSplunkSettingsAsync">Delete Settings</button>
            }
        </div>
    </SettingsCard>
    <SettingsCard Title="SAML" Description="Configuring service providers.">
        <label class="control-label text-gray fw-bold">IdP metadata</label>
        <div class="form-group">
            <a class="btn btn-primary" href="@Routes.SamlMetadata" role="button" target="_blank">View metadata</a>
            <a class="btn btn-outline-primary" href="@Routes.SamlDownloadMetadata" role="button" target="_blank">Download metadata</a>
            <a class="btn btn-outline-primary" href="@Routes.SamlDownloadCert" role="button" target="_blank">Download certificate</a>
        </div>
        <hr />
        <label class="control-label text-gray fw-bold">Service Providers</label>
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="OpenDialogAddSaml2RelyingPartyAsync">Add service provider</button>
        </div>
        @foreach (var rp in SamlRelyingParties)
        {
            <div class="card mt-2">
                <div class="card-body">
                    <div class="form-group">
                        <label class="text-gray">Issuer</label>
                        <input value="@rp.Issuer" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="form-group">
                        <label class="text-gray">Assertion Consumer Service</label>
                        <input value="@rp.SingleSignOnDestination" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="form-group">
                        <label class="text-gray">Single Logout Service</label>
                        <input value="@rp.SingleLogoutResponseDestination" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="form-group">
                        <label class="text-gray">Public x509 Certificate</label>
                        <textarea value="@rp.SignatureValidationCertificateBase64" rows="3" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-outline-secondary me-1" @onclick="@(() => OpenDialogEditSaml2RelyingPartyAsync(rp.Id))">Edit</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="@(() => OpenDialogDeleteSaml2RelyingPartyAsync(rp.Id))">Delete</button>
                    </div>
                </div>
            </div>
        }
    </SettingsCard>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}