@page "/settings/parameters"
@layout MainLayout
@attribute [Authorize(Roles = ApplicationRoles.Admin)]
@inherits HESPageBase

@if (Initialized)
{
    <SettingsCard Title="@Resource.Parameters_Licensing_Title" Description="@Resource.Parameters_Licensing_Description">
        <div class="form-group">         
            @if (LicensingSettings == null)
            {
                <div class="alert alert-danger" role="alert">
                    @Resource.Label_NotConfigured
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary me-1" @onclick="OpenDialogLicensingSettingsAsync">@Resource.Btn_SetLicensingSettings</button>
            @if (LicensingSettings != null)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="OpenDialogDeleteLicenseSettingsAsync">@Resource.Btn_DeleteSettings</button>
            }
        </div>
    </SettingsCard>
    <SettingsCard Title="@Resource.Parameters_Domain_Title" Description="@Resource.Parameters_Domain_Description">
        <div class="form-group">
            <Label For="@(() => LdapSettings.Host)" class="control-label text-gray" />
            @if (LdapSettings != null)
            {
                <div class="alert alert-secondary" role="alert">
                    @LdapSettings.Host
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @Resource.Label_NotConfigured
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary me-1" @onclick="OpenDialogLdapSettingsAsync">@Resource.Btn_SetDomainSettings</button>
            @if (LdapSettings != null)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="OpenDialogDeleteLdapSettingsAsync">@Resource.Btn_DeleteSettings</button>
            }
        </div>
    </SettingsCard>
    <SettingsCard Title="@Resource.Parameters_Splunk_Title" Description="@Resource.Parameters_Splunk_Description">
        <div class="form-group">
            <Label For="@(() => SplunkSettings.Host)" class="control-label text-gray" />
            @if (SplunkSettings != null)
            {
                <div class="alert alert-secondary" role="alert">
                    @SplunkSettings.Host
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    @Resource.Label_NotConfigured
                </div>
            }
        </div>
        <div class="mt-4">
            <button type="button" class="btn btn-primary me-1" @onclick="OpenDialogSplunkSettingsAsync">@Resource.Btn_SetSplunkSettings</button>
            @if (SplunkSettings != null)
            {
                <button type="button" class="btn btn-outline-danger" @onclick="OpenDialogDeleteSplunkSettingsAsync">@Resource.Btn_DeleteSettings</button>
            }
        </div>
    </SettingsCard>
    <SettingsCard Title="@Resource.Parameters_Saml_Title" Description="@Resource.Parameters_Saml_Description">
        <label class="control-label text-gray fw-bold">@Resource.Label_IdPMetadata</label>
        <div class="form-group">
            <a class="btn btn-primary me-1" href="@Routes.SamlMetadata" role="button" target="_blank">@Resource.Btn_ViewMetadata</a>
            <a class="btn btn-outline-primary me-1" href="@Routes.SamlDownloadMetadata" role="button" target="_blank">@Resource.Btn_DownloadMetadata</a>
            <a class="btn btn-outline-primary" href="@Routes.SamlDownloadCert" role="button" target="_blank">@Resource.Btn_DownloadCertificate</a>
        </div>
        <hr />
        <label class="control-label text-gray fw-bold">@Resource.Label_ServiceProviders</label>
        <div class="form-group">
            <button type="button" class="btn btn-primary" @onclick="OpenDialogAddSaml2RelyingPartyAsync">@Resource.Btn_AddServiceProvider</button>
        </div>
        @foreach (var rp in SamlRelyingParties)
        {
            <div class="card mt-2">
                <div class="card-body">
                    <div class="form-group">
                        <Label For="@(() => rp.Issuer)" class="control-label text-gray" />
                        <input value="@rp.Issuer" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="form-group">
                        <Label For="@(() => rp.SingleSignOnDestination)" class="control-label text-gray" />
                        <input value="@rp.SingleSignOnDestination" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="form-group">
                        <Label For="@(() => rp.SingleLogoutResponseDestination)" class="control-label text-gray" />
                        <input value="@rp.SingleLogoutResponseDestination" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="form-group">
                        <Label For="@(() => rp.SignatureValidationCertificateBase64)" class="control-label text-gray" />
                        <textarea value="@rp.SignatureValidationCertificateBase64" rows="3" class="form-control text-navyblue" disabled />
                    </div>
                    <div class="mt-4">
                        <button type="button" class="btn btn-outline-secondary me-1" @onclick="@(() => OpenDialogEditSaml2RelyingPartyAsync(rp.Id))">@Resource.Btn_Edit</button>
                        <button type="button" class="btn btn-outline-danger" @onclick="@(() => OpenDialogDeleteSaml2RelyingPartyAsync(rp.Id))">@Resource.Btn_Delete</button>
                    </div>
                </div>
            </div>
        }
    </SettingsCard>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}