@inherits OwningComponentBase

@if (SharedAccount == null)
{
    <LoadingText />
}
else
{
    <EditForm Model="SharedAccount" OnValidSubmit="CreateAccountAsync">
        <DataAnnotationsValidator />
        <ValidationErrorMessage @ref="ValidationErrorMessage" />
        <div class="form-group d-flex flex-row align-items-center">
            <h6 class="text-navyblue mx-0 mr-2 text-nowrap">Enter data manually or select from the template:</h6>
            <select class="form-control" @onchange="TemplateSelected">
                <option selected></option>
                @foreach (var item in Templates)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
        </div>
        <hr />
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <FormLabel For="@(() => SharedAccount.Name)" class="text-gray" />
                    <InputText @bind-Value="SharedAccount.Name" class="form-control text-navyblue" tabindex="1" />
                    <ValidationMessage For="@(() => SharedAccount.Name)" class="text-danger" />
                </div>
                <div class="form-group">
                    <FormLabel For="@(() => SharedAccount.Urls)" class="text-gray" />
                    <textarea @bind="SharedAccount.Urls" style="height:81px" class="form-control text-navyblue" tabindex="2" />
                    <ValidationMessage For="@(() => SharedAccount.Urls)" class="text-danger" />
                </div>
                <div class="form-group">
                    <FormLabel For="@(() => SharedAccount.Apps)" class="text-gray" />
                    <textarea @bind="SharedAccount.Apps" style="height:81px" class="form-control text-navyblue" tabindex="3" />
                    <ValidationMessage For="@(() => SharedAccount.Apps)" class="text-danger" />
                </div>
            </div>
            <div class="col">
                <div class="form-group">
                    <label class="control-label text-gray">Login Type</label>
                    <select class="form-control" @bind="SharedAccount.LoginType">
                        <option selected value="@LoginType.WebApp">@EnumHelper.GetDisplayName(LoginType.WebApp)</option>
                        <option value="@LoginType.Local">@EnumHelper.GetDisplayName(LoginType.Local)</option>
                        <option value="@LoginType.Domain">@EnumHelper.GetDisplayName(LoginType.Domain)</option>
                        <option value="@LoginType.AzureAD">@EnumHelper.GetDisplayName(LoginType.AzureAD)</option>
                        <option value="@LoginType.Microsoft">@EnumHelper.GetDisplayName(LoginType.Microsoft)</option>
                    </select>
                </div>
                @switch (SharedAccount.LoginType)
                {
                    case LoginType.WebApp:
                        <div class="form-group">
                            <FormLabel For="@(() => SharedAccount.Login)" class="text-gray" />
                            <InputText @bind-Value="SharedAccount.Login" class="form-control text-navyblue" tabindex="4" />
                            <ValidationMessage For="@(() => SharedAccount.Login)" class="text-danger" />
                        </div>
                        break;
                    case LoginType.Local:
                        <div class="form-group">
                            <FormLabel For="@(() => SharedAccount.Login)" class="text-gray" />
                            <InputText @bind-Value="SharedAccount.Login" placeholder="User Name" class="form-control text-navyblue" tabindex="4" />
                            <ValidationMessage For="@(() => SharedAccount.Login)" class="text-danger" />
                        </div>
                        break;
                    case LoginType.Domain:
                        <div class="form-group">
                            <FormLabel For="@(() => SharedAccount.Login)" class="text-gray" />
                            <div class="input-group">
                                <input type="text" @bind="SharedAccount.Domain" placeholder="Domain" class="form-control" tabindex="4">
                                <input type="text" @bind="SharedAccount.Login" placeholder="User Logon Name" class="form-control" tabindex="5">
                            </div>
                            <ValidationMessage For="@(() => SharedAccount.Domain)" class="text-danger" />
                            <ValidationMessage For="@(() => SharedAccount.Login)" class="text-danger" />
                        </div>
                        break;
                    case LoginType.AzureAD:
                        <div class="form-group">
                            <FormLabel For="@(() => SharedAccount.Login)" class="text-gray" />
                            <InputText @bind-Value="SharedAccount.Login" placeholder="User Name" class="form-control text-navyblue" tabindex="4" />
                            <ValidationMessage For="@(() => SharedAccount.Login)" class="text-danger" />
                        </div>
                        break;
                    case LoginType.Microsoft:
                        <div class="form-group">
                            <FormLabel For="@(() => SharedAccount.Login)" class="text-gray" />
                            <InputText @bind-Value="SharedAccount.Login" placeholder="Email" class="form-control text-navyblue" tabindex="4" />
                            <ValidationMessage For="@(() => SharedAccount.Login)" class="text-danger" />
                        </div>
                        break;
                }
                <div class="form-group">
                    <FormLabel For="@(() => SharedAccount.Password)" class="text-gray" />
                    <InputText @bind-Value="SharedAccount.Password" type="password" class="form-control text-navyblue" tabindex="6" />
                    <ValidationMessage For="@(() => SharedAccount.Password)" class="text-danger" />
                </div>
                <div class="form-group">
                    <FormLabel For="@(() => SharedAccount.ConfirmPassword)" class="text-gray" />
                    <InputText @bind-Value="SharedAccount.ConfirmPassword" type="password" class="form-control text-navyblue" tabindex="7" />
                    <ValidationMessage For="@(() => SharedAccount.ConfirmPassword)" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <FormLabel For="@(() => SharedAccount.OtpSecret)" class="text-gray" />
                    <InputText @bind-Value="SharedAccount.OtpSecret" class="form-control text-navyblue" tabindex="8" />
                    <ValidationMessage For="@(() => SharedAccount.OtpSecret)" class="text-danger" />
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="button" class="btn btn-secondary" @onclick="@(async () => await ModalDialogService.CancelAsync())">Cancel</button>
            <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Create" Class="btn btn-primary" />
        </div>
    </EditForm>
}