@inherits OwningComponentBase

@if (!Initialized)
{
    <LoadingText />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="shared account" CloseAction="ModalDialogService.CancelAsync" />
    }
    else
    {
        <EditForm Model="Account" OnValidSubmit="EditAccountAsync">
            <DataAnnotationsValidator />
            <ValidationErrorMessage @ref="ValidationErrorMessage" />
            <div class="form-group">
                <FormLabel For="@(() => Account.Name)" class="text-gray" />
                <InputText @bind-Value="Account.Name" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => Account.Name)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => Account.Urls)" class="text-gray" />
                <InputText @bind-Value="Account.Urls" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => Account.Urls)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => Account.Apps)" class="text-gray" />
                <InputText @bind-Value="Account.Apps" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => Account.Apps)" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="control-label text-gray">Login Type</label>
                <select class="form-control" @bind="Account.LoginType">
                    <option selected value="@LoginType.WebApp">@EnumHelper.GetDisplayName(LoginType.WebApp)</option>
                    <option value="@LoginType.Local">@EnumHelper.GetDisplayName(LoginType.Local)</option>
                    <option value="@LoginType.Domain">@EnumHelper.GetDisplayName(LoginType.Domain)</option>
                    <option value="@LoginType.AzureAD">@EnumHelper.GetDisplayName(LoginType.AzureAD)</option>
                    <option value="@LoginType.Microsoft">@EnumHelper.GetDisplayName(LoginType.Microsoft)</option>
                </select>
            </div>
            @switch (Account.LoginType)
            {
                case LoginType.WebApp:
                    <div class="form-group">
                        <FormLabel For="@(() => Account.Login)" class="text-gray" />
                        <InputText @bind-Value="Account.Login" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => Account.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.Local:
                    <div class="form-group">
                        <FormLabel For="@(() => Account.Login)" class="text-gray" />
                        <InputText @bind-Value="Account.Login" placeholder="User Name" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => Account.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.Domain:
                    <div class="form-group">
                        <FormLabel For="@(() => Account.Login)" class="text-gray" />
                        <div class="input-group">
                            <input type="text" @bind="Account.Domain" placeholder="Domain" class="form-control" tabindex="4">
                            <input type="text" @bind="Account.Login" placeholder="User Logon Name" class="form-control" tabindex="5">
                        </div>
                        <ValidationMessage For="@(() => Account.Domain)" class="text-danger" />
                        <ValidationMessage For="@(() => Account.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.AzureAD:
                    <div class="form-group">
                        <FormLabel For="@(() => Account.Login)" class="text-gray" />
                        <InputText @bind-Value="Account.Login" placeholder="User Name" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => Account.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.Microsoft:
                    <div class="form-group">
                        <FormLabel For="@(() => Account.Login)" class="text-gray" />
                        <InputText @bind-Value="Account.Login" placeholder="Email" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => Account.Login)" class="text-danger" />
                    </div>
                    break;
            }
            <div class="text-right">
                <button type="button" class="btn btn-secondary" @onclick="async () => await ModalDialogService.CancelAsync()">Cancel</button>
                <ButtonSpinner @ref="ButtonSpinner" Submit="true" Text="Save" Class="btn btn-primary" />
            </div>
        </EditForm>
    }
}