@page "/shared-accounts"
@layout MainLayout
@attribute [Authorize(Roles = ApplicationRoles.Admin)]
@inherits HESPageBase

@if (Initialized)
{
    <DataTableWrapper Loading="DataTableService.Loading">
        <WrapperHeader>
            <DataTableActions RefreshTable="@DataTableService.LoadTableDataAsync" CollapseFilter="@DataTableService.ShowFilter" SearchTextChanged="@DataTableService.SearchTextChangedAsync">
                <FilterForm>
                    <SharedAccountFilterComponent FilterChanged="DataTableService.FilterChangedAsync" />
                </FilterForm>
                <ActionButtons>
                    <button type="button" @onclick="CreateSharedAccountAsync" class="btn btn-primary me-1">
                        @Resource.Btn_CreateSharedAccount
                    </button>
                    @if (DataTableService.SelectedEntity != null)
                    {
                        <button type="button" @onclick="EditSharedAccountAsync" class="btn btn-light border mx-1">
                            <img class="icon-btn" src="/svg/icon-edit.svg" />
                            @Resource.Btn_Edit
                        </button>
                        <button type="button" @onclick="EditSharedAccountPasswordAsync" class="btn btn-light border mx-1">
                            <img class="icon-btn" src="/svg/icon-password.svg" />
                            @Resource.Btn_EditPassword
                        </button>
                        <button type="button" @onclick="EditSharedAccountOTPAsync" class="btn btn-light border mx-1">
                            <img class="icon-btn" src="/svg/icon-otp.svg" />
                            @Resource.Btn_EditOTP
                        </button>
                        <button type="button" @onclick="DeleteSharedAccountAsync" class="btn btn-light border mx-1">
                            <img class="icon-btn" src="/svg/icon-delete.svg" />
                            @Resource.Btn_Delete
                        </button>
                    }
                </ActionButtons>
            </DataTableActions>
        </WrapperHeader>
        <WrapperBody>
            <DataTable Items="DataTableService.Entities" SelectedItem="DataTableService.SelectedEntity" SelecedItemChanged="DataTableService.SelectedItemChangedAsync">
                <TableHeader>
                    <DataTableHeaderItem Title="@Resource.Label_Name"
                                         SortColumn="@nameof(SharedAccount.Name)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="@Resource.Label_Urls"
                                         SortColumn="@nameof(SharedAccount.Urls)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="@Resource.Label_Apps"
                                         SortColumn="@nameof(SharedAccount.Apps)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="@Resource.Label_Login"
                                         SortColumn="@nameof(SharedAccount.Login)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="@Resource.Label_PasswordUpdated"
                                         SortColumn="@nameof(SharedAccount.PasswordChangedAt)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="@Resource.Label_OtpUpdated"
                                         SortColumn="@nameof(SharedAccount.OtpSecretChangedAt)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                </TableHeader>
                <TableRow>
                    <td>
                        @context.Name
                    </td>
                    <td>
                        @context.Urls
                    </td>
                    <td>
                        @context.Apps
                    </td>
                    <td>
                        @context.Login
                    </td>
                    <td>
                        @if (context.PasswordChangedAt != null)
                            {
                            <span>@context.GetPasswordUpdated.Days @Resource.Label_Days</span>
                            }
                    </td>
                    <td>
                        @if (context.OtpSecretChangedAt != null)
                            {
                            <span>@context.GetOtpUpdated.Days @Resource.Label_Days</span>
                            }
                    </td>
                </TableRow>
            </DataTable>
        </WrapperBody>
        <WrapperFooter>
            <DataTablePagination CurrentPageChanged="DataTableService.CurrentPageChangedAsync"
                                 DisplayRowsChanged="DataTableService.DisplayRowsChangedAsync"
                                 TotalRecords="DataTableService.TotalRecords"
                                 CurrentPage="DataTableService.CurrentPage"
                                 DisplayRows="DataTableService.DataLoadingOptions.Take"
                                 DisplayRecords="DataTableService.Entities.Count" />
        </WrapperFooter>
    </DataTableWrapper>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}