@inherits HESModalBase

@if (!Initialized)
{
    <Loader />
}
else
{
    @if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="@Position.Name" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <EditForm Model="Position" OnValidSubmit="EditAsync">
            <DataAnnotationsValidator />
            <ValidationErrorMessage @ref="ValidationErrorMessage" />
            <div class="form-group">
                <Label For="@(() => Position.Name)" class="text-gray" />
                <InputText @bind-Value="Position.Name" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => Position.Name)" class="text-danger" />
            </div>
            <div class="form-footer">
                <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
                <Button @ref="Button" Text="@Resource.Btn_Save" type="submit" class="btn btn-primary" />
            </div>
        </EditForm>
    }
}