@inherits HESModalBase

@if (Initialized)
{
    <div class="alert alert-warning" role="alert">
        <p class="my-0">
            <strong>@Resource.Profile_DeletePersonalData_Body</strong>
        </p>
    </div>
    <div>
        <EditForm Model="PasswordModel" OnValidSubmit="DeletePersonalDataAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <Label For="@(() => PasswordModel.Password)" class="text-gray form-label" />
                <InputText type="password" @bind-Value="PasswordModel.Password" class="form-control" />
                <ValidationMessage For="@(() => PasswordModel.Password)" class="text-danger" />
            </div>
            <div class="text-end">
                <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
                <Button @ref="ButtonSpinner" Text="@Resource.Btn_DeleteDataAndCloseMyAccount" type="submit" class="btn btn-danger" />
            </div>
        </EditForm>
    </div>
}
else
{
    <Loader />
}