@page "/login"
@layout BlankLayout
@inherits HESPageBase

@if (Initialized)
{
    <ErrorAlert Message="@ErrorMessage" Close="@ClearErrorMessage" />
    <div class="d-flex justify-content-center align-items-center vh-100">
        <div class="custom-card">
            <div class="text-center m-3">
                <img src="/svg/hideez-es-logo.svg" />
            </div>
            @switch (AuthenticationStep)
            {
                case AuthenticationStep.EmailValidation:
                    <h3 class="text-navyblue my-3">@Resource.Identity_Login_Email_Header</h3>
                    <EditForm Model="UserEmailModel" OnValidSubmit="NextAsync">
                        <DataAnnotationsValidator />
                        <ValidationErrorMessage @ref="ValidationErrorMessage" />
                        <div class="form-group">
                            <InputText @bind-Value="UserEmailModel.Email" class="form-control" placeholder="@Resource.Label_Email" id="email" />
                            <ValidationMessage For="@(() => UserEmailModel.Email)" class="text-danger" />
                        </div>
                        <div class="text-end">
                            <Button @ref="ButtonSpinner" Text="@Resource.Btn_Next" type="submit" class="btn btn-primary" />
                        </div>
                    </EditForm>
                    break;
                case AuthenticationStep.EnterPassword:
                    <div class="d-flex align-items-center">
                        <Button Text="" OnClick="BackToEmailValidation" class="btn p-0">
                            <Image>
                                <img src="/svg/icon-arrow-back.svg" />
                            </Image>
                        </Button>
                        <h5 class="text-gray mx-2 my-0">@UserEmailModel.Email</h5>
                    </div>
                    <h3 class="text-navyblue my-3">@Resource.Identity_Login_EnterPassword_Header</h3>
                    <EditForm Model="PasswordSignInModel" OnValidSubmit="LoginWithPasswordAsync">
                        <DataAnnotationsValidator />
                        <ValidationErrorMessage @ref="ValidationErrorMessage" />
                        <div class="form-group">
                            <InputText @bind-Value="PasswordSignInModel.Password" placeholder="@Resource.Label_Password" class="form-control" type="password" id="password" />
                            <ValidationMessage For="@(() => PasswordSignInModel.Password)" class="text-danger" />
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="rememberMe" @bind="PasswordSignInModel.RememberMe">
                                <label class="form-check-label" for="rememberMe">
                                    @Resource.Label_RememberMe
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <a href="@Routes.ForgotPassword" class="mds-link">@Resource.Identity_Login_ForgotYourPassword</a>
                        </div>
                        <div class="d-flex @(HasSecurityKey ? "justify-content-between":"justify-content-end") align-items-center mt-3">
                            @if (HasSecurityKey)
                            {
                                <Button Text="@Resource.SecurityKey_SignIn_Title" OnClick="SignInWithSecurityKeyAsync" type="button" class="btn btn-link px-0 text-start" />
                            }
                            <Button @ref="ButtonSpinner" Text="@Resource.Btn_Login" type="submit" class="btn btn-primary" />
                        </div>
                    </EditForm>
                    break;
                case AuthenticationStep.SecurityKeyAuthentication:
                    <h3 class="text-navyblue my-3">@Resource.SecurityKey_SignIn_Title</h3>
                    <span>@Resource.SecurityKey_SignIn_Description</span>
                    <div class="d-flex justify-content-center align-items-center w-100 h-100">
                        <Loader DisableShadow="true" />
                    </div>
                    break;
                case AuthenticationStep.SecurityKeyError:
                    <h3 class="text-navyblue my-3">@Resource.SecurityKey_SignIn_Title</h3>
                    <span>@Resource.SecurityKey_Error_Description</span>
                    <div class="text-end mt-3">
                        <Button Text="@Resource.Btn_Back" OnClick="BackToEmailValidation" class="btn btn-outline-secondary" />
                        <Button Text="@Resource.Btn_TryAgain" OnClick="TryAgainAsync" class="btn btn-primary" />
                    </div>
                    break;
            }
        </div>
    </div>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader AbsoluteCenter="true" />
}