@page "/logout"
@model HES.Web.Pages.Identity.LogoutModel
@{
    ViewData["Title"] = Resource.Identity_Logout_Title;
}

<div class="d-flex justify-content-center align-items-center h-100">
    <div class="custom-card text-center">
        <div class="text-center m-3">
            <img src="/svg/brand-logo.svg" />
        </div> 
        @if (User.Identity.IsAuthenticated)
        {
            <h5 class="text-navyblue my-3">@User.Identity.Name</h5>
            <form class="form-inline" asp-page="@Routes.Logout" method="post">
                <button type="submit" class="btn btn-outline-primary w-100">@Resource.Btn_Logout</button>
            </form>
        }
        else
        {
            <p>@Resource.Identity_Logout_Description</p>
            <a href="@Routes.Login">@Resource.Label_GoToLoginPage</a>
        }
    </div>
</div>