@page "/sso"
@layout BlankLayout
@inherits HESPageBase

@if (Initialized)
{
    if (ErrorTitle != null && ErrorDescription != null)
    {
        <Error Title="@ErrorTitle" Description="@ErrorDescription" />
    }
    else
    {
        <ErrorAlert Message="@ErrorMessage" Close="@ClearErrorMessage" />
        <div class="d-flex justify-content-center align-items-center vh-100">
            <div class="custom-card">
                <div class="text-center m-3">
                    <img src="/svg/brand-logo.svg" />
                </div>
                @switch (AuthenticationStep)
                {
                    case AuthenticationStep.EmailValidation:
                        <h3 class="text-navyblue my-3">@Resource.Identity_SingleSignOn_Header</h3>
                        <EditForm Model="UserEmailModel" OnValidSubmit="NextAsync">
                            <DataAnnotationsValidator />
                            <ValidationErrorMessage @ref="ValidationErrorMessage" />
                            <div class="form-group">
                                <InputText @bind-Value="UserEmailModel.Email" class="form-control" placeholder="@Resource.Label_Email" id="email" autofocus />
                                <ValidationMessage For="@(() => UserEmailModel.Email)" class="text-danger" />
                            </div>
                            <div class="text-end">
                                <Button @ref="Button" Text="@Resource.Btn_Next" type="submit" class="btn btn-primary" />
                            </div>
                        </EditForm>
                        break;
                    case AuthenticationStep.SecurityKeyAuthentication:
                        <h3 class="text-navyblue my-3">@Resource.SecurityKey_SignIn_Title</h3>
                        <span>@Resource.SecurityKey_SignIn_Description</span>
                        <div class="d-flex justify-content-center align-items-center w-100 h-100">
                            <Loader DisableShadow="true" />
                        </div>
                        break;
                    case AuthenticationStep.SecurityKeyError:
                        <h3 class="text-navyblue my-3">@Resource.SecurityKey_SignIn_Title</h3>
                        <span>@Resource.SecurityKey_Error_Description</span>
                        <div class="text-end mt-3">
                            <Button Text="@Resource.Btn_Back" OnClick="BackToEmailValidation" class="btn btn-outline-secondary" />
                            <Button Text="@Resource.Btn_TryAgain" OnClick="TryAgainAsync" class="btn btn-primary" />
                        </div>
                        break;
                }
            </div>
        </div>
    }
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader AbsoluteCenter="true" />
}