@page "/workstations/details/{WorkstationId}"
@layout MainLayout
@attribute [Authorize(Roles = ApplicationRoles.Admin)]
@inherits HESPageBase

@if (Initialized)
{
    <div class="row align-items-center details-card mb-3">
        <div class="col">
            <h1 class="text-navyblue text-break m-0">@Workstation.Name</h1>
        </div>
        <div class="col-auto ps-1">
            <button class="btn btn-primary" @onclick="OpenDialogAddHardwareVaultAsync">
                Add Hardware Vault
            </button>
        </div>
    </div>
    <section>
        @if (DataTableService.Entities.Count > 0)
        {
            <DataTableWrapper Loading="DataTableService.Loading">
                <WrapperHeader>
                    <DataTableActions ShowFilterButton="false" RefreshTable="@DataTableService.LoadTableDataAsync" CollapseFilter="@DataTableService.ShowFilter" SearchTextChanged="@DataTableService.SearchTextChangedAsync">
                        <ActionButtons>
                            <h4 class="text-navyblue me-2">Proximity Vaults</h4>
                            @if (DataTableService.SelectedEntity != null)
                            {
                                <button type="button" @onclick="OpenDialogDeleteHardwareVaultAsync" class="btn btn-light border mx-2" title="Delete hardware vault">
                                    <img class="icon-btn" src="/svg/icon-delete.svg" />
                                    Delete Hardware Vault
                                </button>
                            }
                        </ActionButtons>
                    </DataTableActions>
                </WrapperHeader>
                <WrapperBody>
                    <DataTable Items="DataTableService.Entities" SelectedItem="DataTableService.SelectedEntity" SelecedItemChanged="DataTableService.SelectedItemChangedAsync" Loading="DataTableService.Loading">
                        <TableHeader>
                            <DataTableHeaderItem Title="Hardware Vault"
                                                 SortColumn="@nameof(WorkstationProximityVault.HardwareVault)"
                                                 CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                            <DataTableHeaderItem Title="Employee"
                                                 SortColumn="@nameof(WorkstationProximityVault.HardwareVault.Employee)"
                                                 CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                            <DataTableHeaderItem Title="Company"
                                                 SortColumn="@nameof(WorkstationProximityVault.HardwareVault.Employee.Department.Company)"
                                                 CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                            <DataTableHeaderItem Title="Department"
                                                 SortColumn="@nameof(WorkstationProximityVault.HardwareVault.Employee.Department)"
                                                 CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                                 CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                                 SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                                 SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                        </TableHeader>
                        <TableRow>
                            <td>
                                @context.HardwareVaultId
                            </td>
                            <td>
                                @context.HardwareVault.Employee?.FullName
                            </td>
                            <td>
                                @context.HardwareVault.Employee?.Department?.Company?.Name
                            </td>
                            <td>
                                @context.HardwareVault.Employee?.Department?.Name
                            </td>
                        </TableRow>
                    </DataTable>
                </WrapperBody>
                <WrapperFooter>
                    <DataTablePagination CurrentPageChanged="DataTableService.CurrentPageChangedAsync"
                                         DisplayRowsChanged="DataTableService.DisplayRowsChangedAsync"
                                         TotalRecords="DataTableService.TotalRecords"
                                         CurrentPage="DataTableService.CurrentPage"
                                         DisplayRows="DataTableService.DataLoadingOptions.Take"
                                         DisplayRecords="DataTableService.Entities.Count" />
                </WrapperFooter>
            </DataTableWrapper>
        }
    </section>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}