@inherits HESModalBase

@if (HardwareVault == null)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="@HardwareVault.Id" CloseAction="ModalDialogCancel" />
    }
    else
    {
        @switch (VaultStatus)
        {
            case VaultStatus.Active:
                <div class="alert alert-success rounded-0" role="alert">
                    @string.Format(Resource.HardwareVaults_ChangeStatus_Body_Activate, HardwareVault.Id)
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-secondary me-2" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
                    <Button Text="@Resource.Btn_Activate" OnClick="ChangeStatusAsync" class="btn btn-primary btn-min-w" />
                </div>
                break;
            case VaultStatus.Suspended:
                <div class="alert alert-warning rounded-0" role="alert">
                    @string.Format(Resource.HardwareVaults_ChangeStatus_Body_Suspend, HardwareVault.Id)
                </div>
                <div class="form-group">
                    <label class="control-label text-gray">@Resource.Label_Description</label>
                    <textarea @bind="StatusDescription" class="form-control" rows="2" />
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <button class="btn btn-secondary me-2" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
                    <Button Text="@Resource.Btn_Suspend" OnClick="ChangeStatusAsync" class="btn btn-primary btn-min-w" />
                </div>
                break;
            case VaultStatus.Compromised:
                <div class="alert alert-warning rounded-0" role="alert">
                    @string.Format(Resource.HardwareVaults_ChangeStatus_Body_Compromised, HardwareVault.Id)
                </div>
                <div class="form-group">
                    <label class="text-gray">@Resource.Label_StatusReason</label>
                    <select @bind="StatusReason" class="form-select">
                        <option selected value=@VaultStatusReason.Lost>@VaultStatusReason.Lost.ToString()</option>
                        <option value=@VaultStatusReason.Stolen>@VaultStatusReason.Stolen.ToString()</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="control-label text-gray">@Resource.Label_Description</label>
                    <textarea @bind="StatusDescription" class="form-control" rows="2" />
                </div>
                <div class="form-group">
                    <label class="control-label text-gray">@((MarkupString)string.Format(Resource.Message_PleaseTypeToConfirm, HardwareVault.Id))</label>
                    <input type="text" @bind-value="CompromisedConfirmText" @bind-value:event="oninput" @onkeyup="@CompromisedConfirm" class="form-control" />
                </div>
                <div class="form-footer">
                    <button class="btn btn-secondary me-2" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
                    <Button Text="@Resource.Btn_Compromised" OnClick="ChangeStatusAsync" IsDisabled="CompromisedIsDisabled" class="btn btn-danger btn-min-w" />
                </div>
                break;
        }
    }
}