@inherits HESModalBase

@if (VaultProfiles == null)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="hardware vault" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <div class="alert alert-success" role="alert">
            Change access profile for <b>@HardwareVault.Id</b> vault?
        </div>
        <div>
            <label class="mb-0 text-gray">Hardware vault profile</label>
            <select id="filterStatus" @bind="SelectedVaultProfileId" class="form-select">
                @foreach (var item in VaultProfiles)
                {
                    @if (item == VaultProfiles.First())
                    {
                        <option selected value="@item.Value">@item.Text</option>
                    }
                    else
                    {
                        <option value="@item.Value">@item.Text</option>
                    }
                }
            </select>
        </div>
        <div class="form-footer">
            <button class="btn btn-secondary me-2" @onclick="ModalDialogCancel">Cancel</button>
            <Button Text="Change" class="btn btn-primary btn-min-w" OnClick="ChangeProfileAsync" />
        </div>
    }
}