@inherits HESModalBase

@if (HardwareVault == null)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="@HardwareVault.Id" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <Alert Message="@Resource.Message_RfidNotChange" />
        <EditForm Model="@HardwareVault" OnValidSubmit="EditAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <h5 class="text-navyblue">@HardwareVault.Id</h5>
            </div>
            <div class="form-group">
                <Label For="@(() => HardwareVault.RFID)" class="text-gray" />
                <InputText @bind-Value="HardwareVault.RFID" class="form-control text-navyblue" />
                <ValidationMessage For="() => HardwareVault.RFID" />
            </div>
            <div class="form-footer">
                <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
                <Button @ref="ButtonSpinner" Text="@Resource.Btn_Save" type="submit" class="btn btn-primary" />
            </div>
        </EditForm>
    }
}