@inherits HESModalBase

@if (Code == null)
{
    <Loader />
}
else
{
    <p>
        Vault - <b>@HardwareVault.Id</b>
    </p>
    <p>
        Employee - <b>@HardwareVault.Employee.FullName</b>
    </p>
    @if (!string.IsNullOrWhiteSpace(HardwareVault.Employee?.Email))
    {
        <div class="d-flex justify-content-sm-between align-items-center form-group">
            <span>You can send the code to the email</span>
            <Button class="btn btn-outline-primary" Text="Send email" OnClick="SendEmailAsync" />
        </div>
    }
    <div class="input-group form-group">
        <input type="@(InputType)" id="activationCodeInput" value="@Code" readonly class="form-control">
        <button class="btn btn-outline-secondary" type="button" @onmousedown="@(() => InputType = "Text")" @onmouseup="@(() => InputType = "Password")">Show</button>
        <button class="btn btn-outline-secondary" type="button" @onclick="CopyToClipboardAsync">Copy</button>
    </div>
    <div class="text-end">
        <button class="btn btn-secondary" @onclick="CloseAsync">Close</button>
    </div>
}