@inherits HESModalBase

@if (Code == null)
{
    <Loader />
}
else
{
    <p>
        @Resource.Label_HardwareVault - <b>@HardwareVault.Id</b>
    </p>
    <p>
        @Resource.Label_Employee - <b>@HardwareVault.Employee.FullName</b>
    </p>
    @if (!string.IsNullOrWhiteSpace(HardwareVault.Employee?.Email))
    {
        <div class="d-flex justify-content-sm-between align-items-center form-group">
            <span>@Resource.Message_YouCanSendCode</span>
            <Button class="btn btn-outline-primary" Text="@Resource.Btn_SendEmail" OnClick="SendEmailAsync" />
        </div>
    }
    <div class="input-group form-group">
        <input type="@(InputType)" id="activationCodeInput" value="@Code" readonly class="form-control">
        <button class="btn btn-outline-secondary" type="button" @onmousedown="@(() => InputType = "Text")" @onmouseup="@(() => InputType = "Password")">@Resource.Btn_Show</button>
        <button class="btn btn-outline-secondary" type="button" @onclick="CopyToClipboardAsync">@Resource.Btn_Copy</button>
    </div>
    <div class="text-end">
        <button class="btn btn-secondary" @onclick="CloseAsync">@Resource.Btn_Close</button>
    </div>
}