@inherits HESModalBase
@if (Initialized)
{
    <Alert Message="@WarningMessage" />
    <SearchBox SearchTextChanged="SearchTextChangedAsync" />
    <div class="list-group my-3 py-1 overflow-auto max-50-vh">
        @foreach (var hardwareVault in HardwareVaults)
        {
            <button class="list-group-item list-group-item-action @(hardwareVault.Id == SelectedHardwareVault?.Id ? "active": string.Empty)" @onclick="async () => await SelectedItemChangedAsync(hardwareVault)">
                @hardwareVault.Id
            </button>
        }
    </div>
    <div class="form-footer">
        <button type="button" class="btn btn-secondary btn-min-w" @onclick="ModalDialogClose">@Resource.Btn_Close</button>
        <Button Text="@Resource.Btn_Add" OnClick="AddVaultAsync" class="btn btn-primary btn-min-w" />
    </div>
}
else
{
    <Loader />
}