@inherits HESModalBase

@if (!Initialized)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <EditForm Model="AccountPassword" OnValidSubmit="EditAccountPasswordAsync">
            <DataAnnotationsValidator />
            <div class="form-group">
                <h5 class="text-navyblue">@Account.Name</h5>
            </div>
            <div class="form-group">
                <FormLabel For="@(() => AccountPassword.Password)" class="text-gray" />
                <InputText @bind-Value="AccountPassword.Password" type="password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => AccountPassword.Password)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => AccountPassword.ConfirmPassword)" class="text-gray" />
                <InputText @bind-Value="AccountPassword.ConfirmPassword" type="password" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => AccountPassword.ConfirmPassword)" class="text-danger" />
            </div>
            @if (Employee.ActiveDirectoryGuid != null && LdapSettings != null && Account.Login.Contains(LdapSettings?.Host.Split(".")[0], StringComparison.OrdinalIgnoreCase))
            {
                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input id="updPwd" type="checkbox" class="custom-control-input" @bind="AccountPassword.UpdateActiveDirectoryPassword" />
                        <label class="custom-control-label" for="updPwd">Update the password in the Active Directory</label>
                    </div>
                </div>
            }
            <div class="form-footer">
                <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
                <Button @ref="ButtonSpinner" Text="Save" type="submit" class="btn btn-primary" />
            </div>
        </EditForm>
    }
}