@inherits HESModalBase

@if (!Initialized)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogCancel" />
    }
    else
    {
        @if (IsActiveDirectoryAccount)
        {
            <div class="btn-group w-100 mb-3" role="group">
                <input type="radio" class="btn-check" name="btnradio" id="enterPwd" autocomplete="off" checked @onclick="@(() => { Tab = PasswordTab.Enter; })" />
                <label class="btn btn-outline-primary" for="enterPwd">Enter Pwd</label>
                <input type="radio" class="btn-check" name="btnradio" id="genaratePwd" autocomplete="off" @onclick="@(() => { Tab = PasswordTab.Generate; })" />
                <label class="btn btn-outline-primary" for="genaratePwd">Generate Pwd</label>
            </div>
        }
        switch (Tab)
        {
            case PasswordTab.Enter:
                <EditForm Model="AccountPassword" OnValidSubmit="EditAccountPasswordAsync">
                    <DataAnnotationsValidator />
                    <div class="form-group">
                        <h5 class="text-navyblue">@Account.Name</h5>
                    </div>
                    <div class="form-group">
                        <Label For="@(() => AccountPassword.Password)" class="text-gray" />
                        <InputText @bind-Value="AccountPassword.Password" type="password" class="form-control text-navyblue" />
                        <ValidationMessage For="@(() => AccountPassword.Password)" class="text-danger" />
                    </div>
                    <div class="form-group">
                        <Label For="@(() => AccountPassword.ConfirmPassword)" class="text-gray" />
                        <InputText @bind-Value="AccountPassword.ConfirmPassword" type="password" class="form-control text-navyblue" />
                        <ValidationMessage For="@(() => AccountPassword.ConfirmPassword)" class="text-danger" />
                    </div>
                    <div class="form-footer">
                        <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
                        <Button @ref="ButtonSpinner" Text="Save" type="submit" class="btn btn-primary" />
                    </div>
                </EditForm>
                break;
            case PasswordTab.Generate:
                <h5>Current cryptographic strength</h5>
                <ul>
                    <li>Length 16</li>
                    <li>Is UpperCase</li>
                    <li>Is LowerCase</li>
                    <li>Is SpecChar</li>
                    <li>Is Numeric</li>
                </ul>
                <div class="form-footer">
                    <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
                    <Button class="btn btn-primary" Text="Generate" OnClick="GenerateAccountPasswordAsync" />
                </div>
                break;
        }
    }
}