@inherits HESModalBase

@if (PersonalAccount == null)
{
    <Loader />
}
else
{
    if (EntityBeingEdited)
    {
        <EditedByAnother EntityName="account" CloseAction="ModalDialogCancel" />
    }
    else
    {
        <EditForm Model="PersonalAccount" OnValidSubmit="EditAccountAsync">
            <DataAnnotationsValidator />
            <ValidationErrorMessage @ref="ValidationErrorMessage" />
            <div class="form-group">
                <FormLabel For="@(() => PersonalAccount.Name)" class="text-gray" />
                <InputText @bind-Value="PersonalAccount.Name" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => PersonalAccount.Name)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => PersonalAccount.Urls)" class="text-gray" />
                <textarea @bind="PersonalAccount.Urls" rows="3" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => PersonalAccount.Urls)" class="text-danger" />
            </div>
            <div class="form-group">
                <FormLabel For="@(() => PersonalAccount.Apps)" class="text-gray" />
                <textarea @bind="PersonalAccount.Apps" rows="3" class="form-control text-navyblue" />
                <ValidationMessage For="@(() => PersonalAccount.Apps)" class="text-danger" />
            </div>
            <div class="form-group">
                <label class="control-label text-gray">Login Type</label>
                <select class="form-select" @bind="PersonalAccount.LoginType">
                    <option selected value="@LoginType.WebApp">@EnumHelper.GetDisplayName(LoginType.WebApp)</option>
                    <option value="@LoginType.Local">@EnumHelper.GetDisplayName(LoginType.Local)</option>
                    <option value="@LoginType.Domain">@EnumHelper.GetDisplayName(LoginType.Domain)</option>
                    <option value="@LoginType.AzureAD">@EnumHelper.GetDisplayName(LoginType.AzureAD)</option>
                    <option value="@LoginType.Microsoft">@EnumHelper.GetDisplayName(LoginType.Microsoft)</option>
                </select>
            </div>
            @switch (PersonalAccount.LoginType)
            {
                case LoginType.WebApp:
                    <div class="form-group">
                        <FormLabel For="@(() => PersonalAccount.Login)" class="text-gray" />
                        <InputText @bind-Value="PersonalAccount.Login" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => PersonalAccount.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.Local:
                    <div class="form-group">
                        <FormLabel For="@(() => PersonalAccount.Login)" class="text-gray" />
                        <InputText @bind-Value="PersonalAccount.Login" placeholder="User Name" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => PersonalAccount.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.Domain:
                    <div class="form-group">
                        <FormLabel For="@(() => PersonalAccount.Login)" class="text-gray" />
                        <div class="input-group">
                            <input type="text" @bind="PersonalAccount.Domain" placeholder="Domain" class="form-control" tabindex="4">
                            <input type="text" @bind="PersonalAccount.Login" placeholder="User Logon Name" class="form-control" tabindex="5">
                        </div>
                        <ValidationMessage For="@(() => PersonalAccount.Domain)" class="text-danger" />
                        <ValidationMessage For="@(() => PersonalAccount.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.AzureAD:
                    <div class="form-group">
                        <FormLabel For="@(() => PersonalAccount.Login)" class="text-gray" />
                        <InputText @bind-Value="PersonalAccount.Login" placeholder="User Name" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => PersonalAccount.Login)" class="text-danger" />
                    </div>
                    break;
                case LoginType.Microsoft:
                    <div class="form-group">
                        <FormLabel For="@(() => PersonalAccount.Login)" class="text-gray" />
                        <InputText @bind-Value="PersonalAccount.Login" placeholder="Email" class="form-control text-navyblue" tabindex="4" />
                        <ValidationMessage For="@(() => PersonalAccount.Login)" class="text-danger" />
                    </div>
                    break;
            }
            <div class="form-footer">
                <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">Cancel</button>
                <Button @ref="ButtonSpinner" Text="Save" type="submit" class="btn btn-primary" />
            </div>
        </EditForm>
    }
}