@if (Filter == null)
{
    <Loader />
}
else
{
    <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
        <DataAnnotationsValidator />
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <Label For="@(() => Filter.LastSeenStartDate)" class="form-label text-gray" />
                <DateTimePicker @bind-Value="Filter.LastSeenStartDate" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <Label For="@(() => Filter.LastSeenEndDate)" class="form-label text-gray" />
                <DateTimePicker @bind-Value="Filter.LastSeenEndDate" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <Label For="@(() => Filter.Company)" class="form-label text-gray" />
                <InputText @bind-Value="Filter.Company" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <Label For="@(() => Filter.Department)" class="form-label text-gray" />
                <InputText @bind-Value="Filter.Department" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                <Label For="@(() => Filter.Position)" class="form-label text-gray" />
                <InputText @bind-Value="Filter.Position" class="form-control" />
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">    
                <Label For="@(() => Filter.VaultsCount)" class="form-label text-gray" />
                <InputNumber id="filterVaultsCount" @bind-Value="Filter.VaultsCount" class="form-control" />
            </div>
            <div class="col align-self-end text-end form-group">
                <Button Text="@Resource.Btn_Clear" OnClick="ClearAsync" type="button" class="btn btn-secondary" />
                <Button @ref="ButtonSpinner" Text="@Resource.Btn_Filter" type="submit" class="btn btn-primary" />
            </div>
        </div>
    </EditForm>
}