@inherits HESModalBase

<h5>@Resource.Employees_SyncEmployeesWithAD_Header</h5>
<p>
    @((MarkupString)string.Format(Resource.Employees_SyncEmployeesWithAD_BodyLine1, HES.Core.Services.LdapService.LdapSyncGroupName, HES.Core.Services.LdapService.LdapPwdChangeGroupName))
</p>
<p>
    @((MarkupString)string.Format(Resource.Employees_SyncEmployeesWithAD_BodyLine2, HES.Core.Services.LdapService.LdapSyncGroupName, HES.Core.Constants.AppConstants.ServerShortName))
</p>
<p>
    @((MarkupString)string.Format(Resource.Employees_SyncEmployeesWithAD_BodyLine3, HES.Core.Services.LdapService.LdapSyncGroupName, HES.Core.Services.LdapService.LdapPwdChangeGroupName))
</p>
<p>
    @Resource.Employees_SyncEmployeesWithAD_BodyLine4
</p>
<p>
    @((MarkupString)string.Format(Resource.Employees_SyncEmployeesWithAD_BodyLine5, HES.Core.Services.LdapService.LdapPwdChangeGroupName))
    <br />
    @((MarkupString)string.Format(Resource.Employees_SyncEmployeesWithAD_BodyLine6, HES.Core.Services.LdapService.LdapSyncGroupName, HES.Core.Constants.AppConstants.ServerShortName))
</p>
<p>
    @string.Format(Resource.Employees_SyncEmployeesWithAD_BodyLine7, HES.Core.Constants.AppConstants.ServerShortName)
</p>

<div class="text-center mt-4">
    @if (!Initialized)
    {
        <Loader />
    }
    else
    {
        @if (CredentialsNotSet)
        {
            <Alert Message="@Resource.Employees_SyncEmployeesWithAD_Alert" />
            <div class="text-center  mt-1">
                <button type="button" class="btn btn-secondary btn-min-w" @onclick="ModalDialogCancel">@Resource.Btn_Close</button>
            </div>
        }
        else
        {
            <Button Text="@Resource.Btn_SyncNow" OnClick="SyncAsync" class="btn btn-primary btn-min-w" />
        }
    }
</div>