@inherits HESModalBase

@if (Initialized)
{
    <div class="card">
        <div class="card-body">
            <h4 class="text-navyblue mb-2">@Resource.Profile_Security_EnableAuthenticator_Header</h4>
            <div>
                <p>@Resource.Profile_Security_EnableAuthenticator_ToUse</p>
                <ol class="list">
                    <li>
                        <p>
                            @((MarkupString)Resource.Profile_Security_EnableAuthenticator_Step1_Download2FA)
                        </p>
                    </li>
                    <li>
                        <p>@((MarkupString)string.Format(Resource.Profile_Security_EnableAuthenticator_Step2_ScanQR, SharedKeyInfo.SharedKey))</p>
                        <div id="qrCode"></div>
                        <div id="qrCodeData" data-url="@((MarkupString)SharedKeyInfo.AuthenticatorUri)"></div>
                        <br />
                    </li>
                    <li>
                        <p>
                            @Resource.Profile_Security_EnableAuthenticator_Step3_EnterCode
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <EditForm Model="VerificationCode" OnValidSubmit="VerifyTwoFactorAsync">
                                    <DataAnnotationsValidator />
                                    <div>
                                        <Label For="@(() => VerificationCode.Code)" class="control-label" />
                                        <div class="align-items-end d-flex">
                                            <InputText @bind-Value="VerificationCode.Code" class="form-control me-2" autocomplete="off" />
                                            <button type="submit" class="btn btn-primary">@Resource.Btn_Verify</button>
                                        </div>
                                        <ValidationMessage For="@(() => VerificationCode.Code)" class="text-danger" />
                                    </div>
                                </EditForm>
                            </div>
                        </div>
                    </li>
                </ol>
            </div>
            @if (RecoveryCodes != null)
            {
                <div>
                    <div class="alert alert-warning" role="alert">
                        <p>
                            <span class="glyphicon glyphicon-warning-sign"></span>
                            <strong>@Resource.Profile_Security_EnableAuthenticator_RecoveryCodes_Header</strong>
                        </p>
                        <p>
                            @Resource.Profile_Security_EnableAuthenticator_RecoveryCodes_Description
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            @for (var row = 0; row < RecoveryCodes.Length; row += 2)
                            {
                                <code class="recovery-code">@RecoveryCodes[row]</code><text> </text><code class="recovery-code">@RecoveryCodes[row + 1]</code><br />
                            }
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="text-center">
        <button type="button" @onclick="ModalDialogCancel" class="btn btn-secondary mt-3">@Resource.Btn_Close</button>
    </div>
}
else
{
    <Loader />
}