@inherits HESModalBase

@if (Initialized)
{
    @if (RecoveryCodes == null)
    {
        <div class="alert alert-warning" role="alert">
            <p>
                <span class="glyphicon glyphicon-warning-sign"></span>
                <strong>@Resource.Profile_Security_GenerateRecoveryCodes_Header</strong>
            </p>
            <p>
                @Resource.Profile_Security_GenerateRecoveryCodes_Description
            </p>
            <p>
                @Resource.Profile_Security_GenerateRecoveryCodes_NotExists_SubDescription
            </p>
        </div>
        <div class="text-end">
            <button type="button" @onclick="ModalDialogCancel" class="btn btn-secondary">@Resource.Btn_Close</button>
            <button class="btn btn-danger" type="button" @onclick="GenerateRecoveryCodesAsync">@Resource.Btn_GenerateRecoveryCodes</button>
        </div>
    }
    else
    {
        <div>
            <div class="alert alert-warning" role="alert">
                <p>
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    <strong>@Resource.Profile_Security_GenerateRecoveryCodes_Header</strong>
                </p>
                <p>
                    @Resource.Profile_Security_GenerateRecoveryCodes_Description
                </p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    @for (var row = 0; row < RecoveryCodes.Length; row += 2)
                    {
                        <code class="recovery-code">@RecoveryCodes[row]</code><text> </text><code class="recovery-code">@RecoveryCodes[row + 1]</code><br />
                    }
                </div>
            </div>
        </div>
        <div class="text-end">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Close</button>
        </div>
    }
}
else
{
    <Loader />
}