@inherits HESModalBase

@if (NewPassword == null)
{
    <Loader />
}
else
{
    <EditForm Model="NewPassword" OnValidSubmit="EnableDataProtectionAsync">
        <DataAnnotationsValidator />
        <div class="form-group">
            <Label For="@(() => NewPassword.Password)" class="text-gray" />
            <InputText @bind-Value="NewPassword.Password" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => NewPassword.Password)" class="text-danger" />
        </div>
        <div class="form-group">
            <Label For="@(() => NewPassword.ConfirmPassword)" class="text-gray" />
            <InputText @bind-Value="NewPassword.ConfirmPassword" type="password" class="form-control text-navyblue" />
            <ValidationMessage For="@(() => NewPassword.ConfirmPassword)" class="text-danger" />
        </div>
        <div class="form-footer">
            <button type="button" class="btn btn-secondary" @onclick="ModalDialogCancel">@Resource.Btn_Cancel</button>
            <Button @ref="Button" type="submit" Text="@Resource.Btn_Enable" class="btn btn-primary" />
        </div>
    </EditForm>
}