@inherits HESPageBase

@if (Initialized)
{
    <p class="text-muted text-center">Basic information of your account.</p>
    <h5>Profile</h5>
    <div class="card mb-5">
        <div class="card-body">
            <EditForm Model="UserProfileModel" OnValidSubmit="UpdateProfileInfoAsync">
                <DataAnnotationsValidator />
                <div class="form-group">
                    <Label For="@(() => UserProfileModel.FirstName)" class="form-label" />
                    <InputText @bind-Value="UserProfileModel.FirstName" class="form-control" />
                    <ValidationMessage For="@(() => UserProfileModel.FirstName)" class="text-danger" />
                </div>
                <div class="form-group">
                    <Label For="@(() => UserProfileModel.LastName)" class="form-label" />
                    <InputText @bind-Value="UserProfileModel.LastName" class="form-control" />
                    <ValidationMessage For="@(() => UserProfileModel.LastName)" class="text-danger" />
                </div>
                <div class="form-group">
                    <Label For="@(() => UserProfileModel.PhoneNumber)" class="form-label" />
                    <InputText @bind-Value="UserProfileModel.PhoneNumber" class="form-control" />
                    <ValidationMessage For="@(() => UserProfileModel.PhoneNumber)" class="text-danger" />
                </div>
                <div class="text-center py-3">
                    <Button @ref="ButtonUpdateProfile" Text="Save" type="submit" class="btn btn-primary w-25" />
                </div>
            </EditForm>
        </div>
    </div>
    <h5>Change email</h5>
    <div class="card mb-5">
        <div class="card-body">
            <EditForm Model="ChangeEmailModel" OnValidSubmit="ChangeEmailAsync">
                <DataAnnotationsValidator />
                <ValidationErrorMessage @ref="ValidationErrorMessage" />
                <div class="form-group">
                    <Label For="@(() => ChangeEmailModel.CurrentEmail)" class="form-label" />
                    <input type="email" value="@ChangeEmailModel.CurrentEmail" disabled class="form-control" />
                    <ValidationMessage For="@(() => ChangeEmailModel.CurrentEmail)" class="text-danger" />
                </div>
                <div class="form-group">
                    <Label For="@(() => ChangeEmailModel.NewEmail)" class="form-label" />
                    <InputText @bind-Value="@ChangeEmailModel.NewEmail" class="form-control" />
                    <ValidationMessage For="@(() => ChangeEmailModel.NewEmail)" class="text-danger" />
                </div>
                <div class="text-center py-3">
                    <Button @ref="ButtonChangeEmail" Text="Change" type="submit" class="btn btn-primary w-25" />
                </div>
            </EditForm>
        </div>
    </div>
    <h5>Language</h5>
    <div class="card mb-5">
        <div class="card-body">
            <LanguageSelector/>
        </div>
    </div>
    <h5>Personal Data</h5>
    <div class="card mb-5">
        <div class="card-body">
            <div class="row">
                <div class="col">
                    <p>Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
                    <p>Deleting this data will permanently remove your account, and this cannot be recovered.</p>
                </div>
                <div class="col-auto d-flex align-items-end">
                    <div>
                        <button class="btn btn-outline-secondary" type="button" @onclick="DownloadPersonalDataAsync">Download</button>
                        <button class="btn btn-outline-danger" type="button" @onclick="DeletePersonalDataAsync">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}
