<div class="navigation-menu">
    <div class="navigation-menu__body">
        <div class="w-100 my-3 text-center">
            <a href="@Routes.Dashboard">
                <img class="icon-hideez" src="/svg/empty.svg" />
            </a>
        </div>
        <ul class="nav nav-pills custom-pills flex-column" id="accordionSidebar">
            <li class="nav-item">
                <NavLink class="nav-link" href="@Routes.Dashboard" Match="NavLinkMatch.All">
                    <img class="icon-dashboard i-sidebar" src="/svg/empty.svg">
                    <span class="page_labels">@Resource.Label_Dashboard</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@Routes.Employees">
                    <img class="icon-employees i-sidebar" src="/svg/empty.svg" />
                    <span class="page_labels">@Resource.Label_Employees</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@Routes.HardwareVaults">
                    <img class="icon-devices i-sidebar" src="/svg/empty.svg" />
                    <span class="page_labels">@Resource.Label_HardwareVaults</span>
                </NavLink>
            </li>
            @*<li class="nav-item">
                <NavLink class="nav-link" href="@Routes.SoftwareVaults">
                        <img class="icon-software-vault i-sidebar" src="/svg/empty.svg"/>
                        <span class="page_labels">@Resource.Label_SoftwareVaults</span>
                    </NavLink>
                </li>*@
            <li class="nav-item">
                <NavLink class="nav-link" href="@Routes.Workstations">
                    <img class="icon-computers i-sidebar" src="/svg/empty.svg" />
                    <span class="page_labels">@Resource.Label_Workstations</span>
                </NavLink>
            </li>
            @*<li class="nav-item">
                    <NavLink class="nav-link" href="@Routes.Groups">
                        <img class="icon-groups i-sidebar" src="/svg/empty.svg" />
                        <span class="page_labels">@Resource.Label_Groups</span>
                    </NavLink>
                </li>*@
            <li class="nav-item">
                <NavLink class="nav-link" href="@Routes.SharedAccounts">
                    <img class="icon-shared-accounts i-sidebar" src="/svg/empty.svg" />
                    <span class="page_labels">@Resource.Label_SharedAccounts</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="@Routes.Templates">
                    <img class="icon-templates i-sidebar" src="/svg/empty.svg" />
                    <span class="page_labels">@Resource.Label_Templates</span>
                </NavLink>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed aria-exp" data-bs-toggle="collapse" href="#audit" role="button" aria-expanded="false" aria-controls="Audit" onclick="collapseSub('settings')">
                    <img class="icon-audit i-sidebar" src="/svg/empty.svg" />
                    <span class="page_labels">@Resource.Label_Audit</span>
                    <img class="icon-arrow i-sidebar" src="/svg/empty.svg" />
                </a>
                <div class="collapse shadow sidebar-collapse" id="audit">
                    <div class="card card-body border-navyblue">
                        <ul class="nav nav-pills flex-column expand-pills">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.WorkstationEvents">
                                    <span>@Resource.Label_Events</span>
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.WorkstationSessions">
                                    <span>@Resource.Label_Sessions</span>
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.WorkstationSummaries">
                                    <span>@Resource.Label_Summaries</span>
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed aria-exp" data-bs-toggle="collapse" href="#settings" role="button" aria-expanded="false" aria-controls="Settings" onclick="collapseSub('audit')">
                    <img class="icon-settings i-sidebar" src="/svg/empty.svg" />
                    <span class="page_labels">@Resource.Label_Settings</span>
                    <img class="icon-arrow i-sidebar" src="/svg/empty.svg" />
                </a>
                <div class="collapse shadow sidebar-collapse" id="settings">
                    <div class="card card-body border-navyblue">
                        <ul class="nav nav-pills flex-column expand-pills">
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.Administrators">
                                    <span>@Resource.Label_Administrators</span>
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.DataProtection">
                                    <span>@Resource.Label_DataProtection</span>
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.HardwareVaultAccessProfile">
                                    <span>@Resource.Label_VaultAccessProfiles</span>
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.OrgStructure">
                                    <span>@Resource.Label_OrgStructure</span>
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.LicenseOrders">
                                    <span>@Resource.Label_LicenseOrders</span>
                                </NavLink>
                            </li>
                            <li class="nav-item">
                                <NavLink class="nav-link" href="@Routes.Parameters">
                                    <span>@Resource.Label_Parameters</span>
                                </NavLink>
                            </li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="navigation-menu__footer copyright">
        <span class="d-block">@HES.Core.Constants.ServerConstants.Copyright</span>
        <span class="d-block">@HES.Core.Constants.ServerConstants.ServerName</span>
        <span class="d-block">Version: @HES.Core.Constants.ServerConstants.Version</span>
    </div>
</div>