@inherits HESPageBase
@using HES.Core.Models.Audit

@if (Initialized)
{
    <DataTableWrapper Loading="DataTableService.Loading">
        <WrapperHeader>
            <DataTableActions RefreshTable="@DataTableService.LoadTableDataAsync" CollapseFilter="@DataTableService.ShowFilter" SearchTextChanged="@DataTableService.SearchTextChangedAsync">
                <FilterForm>
                    <SummaryFilterComponent FilterChanged="DataTableService.FilterChangedAsync" TabName="@nameof(ByEmployeesTab)" />
                </FilterForm>
                <ActionButtons>
                    <h2 class="text-navyblue mb-0">Summary</h2>
                </ActionButtons>
            </DataTableActions>
        </WrapperHeader>
        <WrapperBody>
            <DataTable Items="DataTableService.Entities" SelectedItem="DataTableService.SelectedEntity" SelecedItemChanged="DataTableService.SelectedItemChangedAsync">
                <TableHeader>
                    <DataTableHeaderItem Title="Employee"
                                         SortColumn="@nameof(SummaryByEmployees.Employee)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Company"
                                         SortColumn="@nameof(SummaryByEmployees.Company)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Department"
                                         SortColumn="@nameof(SummaryByEmployees.Department)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Workstations Count"
                                         SortColumn="@nameof(SummaryByEmployees.WorkstationsCount)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Working Days Count"
                                         SortColumn="@nameof(SummaryByEmployees.WorkingDaysCount)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Total Sessions Count"
                                         SortColumn="@nameof(SummaryByEmployees.TotalSessionsCount)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Total Sessions Duration"
                                         SortColumn="@nameof(SummaryByEmployees.TotalSessionsDuration)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Avg Sessions Duration"
                                         TitleWidth="10"
                                         SortColumn="@nameof(SummaryByEmployees.AvgSessionsDuration)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Avg Sessions Count Per Day"
                                         SortColumn="@nameof(SummaryByEmployees.AvgSessionsCountPerDay)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Avg Working Hours Per Day"
                                         SortColumn="@nameof(SummaryByEmployees.AvgWorkingHoursPerDay)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                </TableHeader>
                <TableRow>
                    <td>
                        @context.Employee
                    </td>
                    <td>
                        @context.Company
                    </td>
                    <td>
                        @context.Department
                    </td>
                    <td>
                        @context.WorkstationsCount
                    </td>
                    <td>
                        @context.WorkingDaysCount
                    </td>
                    <td>
                        @context.TotalSessionsCount
                    </td>
                    <td>
                        @if (context.TotalSessionsDuration.Days != 0)
                            {
                            @context.TotalSessionsDuration.ToString("%d") <span>day(s)</span> @context.TotalSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                            else
                            {
                            @context.TotalSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                    </td>
                    <td>
                        @if (context.AvgSessionsDuration.Days != 0)
                            {
                            @context.AvgSessionsDuration.ToString("%d") <span>day(s)</span> @context.AvgSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                            else
                            {
                            @context.AvgSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                    </td>
                    <td>
                        @Math.Round(context.AvgSessionsCountPerDay, 1)
                    </td>
                    <td>
                        @if (context.AvgWorkingHoursPerDay.Days != 0)
                            {
                            @context.AvgWorkingHoursPerDay.ToString("%d") <span>day(s)</span> @context.AvgWorkingHoursPerDay.ToString("hh\\:mm\\:ss")
                            }
                            else
                            {
                            @context.AvgWorkingHoursPerDay.ToString("hh\\:mm\\:ss")
                            }
                    </td>
                </TableRow>
            </DataTable>
        </WrapperBody>
        <WrapperFooter>
            <DataTablePagination CurrentPageChanged="DataTableService.CurrentPageChangedAsync"
                                 DisplayRowsChanged="DataTableService.DisplayRowsChangedAsync"
                                 TotalRecords="DataTableService.TotalRecords"
                                 CurrentPage="DataTableService.CurrentPage"
                                 DisplayRows="DataTableService.DataLoadingOptions.Take"
                                 DisplayRecords="DataTableService.Entities.Count" />
        </WrapperFooter>
    </DataTableWrapper>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}