@inherits HESPageBase
@using HES.Core.Models.Web.Audit

@if (Initialized)
{
    <DataTableWrapper Loading="DataTableService.Loading">
        <WrapperHeader>
            <DataTableActions RefreshTable="@DataTableService.LoadTableDataAsync" CollapseFilter="@DataTableService.ShowFilter" SearchTextChanged="@DataTableService.SearchTextChangedAsync">
                <FilterForm>
                    <SummaryFilterComponent FilterChanged="DataTableService.FilterChangedAsync" TabName="@nameof(ByWorkstationsTab)" />
                </FilterForm>
                <ActionButtons>
                    <h2 class="text-navyblue mb-0">Summary</h2>
                </ActionButtons>
            </DataTableActions>
        </WrapperHeader>
        <WrapperBody>
            <DataTable Items="DataTableService.Entities" SelectedItem="DataTableService.SelectedEntity" SelecedItemChanged="DataTableService.SelectedItemChangedAsync">
                <TableHeader>
                    <DataTableHeaderItem Title="Workstation"
                                         TitleWidth="16"
                                         SortColumn="@nameof(SummaryByWorkstations.Workstation)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Employees Count"
                                         TitleWidth="14"
                                         SortColumn="@nameof(SummaryByWorkstations.EmployeesCount)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Total Sessions Count"
                                         TitleWidth="14"
                                         SortColumn="@nameof(SummaryByWorkstations.TotalSessionsCount)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Total Sessions Duration"
                                         TitleWidth="14"
                                         SortColumn="@nameof(SummaryByWorkstations.TotalSessionsDuration)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Avg Sessions Duration"
                                         TitleWidth="14"
                                         SortColumn="@nameof(SummaryByWorkstations.AvgSessionsDuration)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Avg Total Duartion By Employee"
                                         TitleWidth="14"
                                         SortColumn="@nameof(SummaryByWorkstations.AvgTotalDuartionByEmployee)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Avg Total Sessions Count By Employee"
                                         TitleWidth="14"
                                         SortColumn="@nameof(SummaryByWorkstations.AvgTotalSessionsCountByEmployee)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                </TableHeader>
                <TableRow>
                    <td>
                        @context.Workstation
                    </td>
                    <td>
                        @context.EmployeesCount
                    </td>
                    <td>
                        @context.TotalSessionsCount
                    </td>
                    <td>
                        @if (context.TotalSessionsDuration.Days != 0)
                            {
                            @context.TotalSessionsDuration.ToString("%d") <span>day(s)</span> @context.TotalSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                            else
                            {
                            @context.TotalSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                    </td>
                    <td>
                        @if (context.AvgSessionsDuration.Days != 0)
                            {
                            @context.AvgSessionsDuration.ToString("%d") <span>day(s)</span> @context.AvgSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                            else
                            {
                            @context.AvgSessionsDuration.ToString("hh\\:mm\\:ss")
                            }
                    </td>
                    <td>
                        @if (context.AvgTotalDuartionByEmployee.Days != 0)
                            {
                            @context.AvgTotalDuartionByEmployee.ToString("%d") <span>day(s)</span> @context.AvgTotalDuartionByEmployee.ToString("hh\\:mm\\:ss")
                            }
                            else
                            {
                            @context.AvgTotalDuartionByEmployee.ToString("hh\\:mm\\:ss")
                            }
                    </td>
                    <td>
                        @Math.Round(context.AvgTotalSessionsCountByEmployee, 1)
                    </td>
                </TableRow>
            </DataTable>
        </WrapperBody>
        <WrapperFooter>
            <DataTablePagination CurrentPageChanged="DataTableService.CurrentPageChangedAsync"
                                 DisplayRowsChanged="DataTableService.DisplayRowsChangedAsync"
                                 TotalRecords="DataTableService.TotalRecords"
                                 CurrentPage="DataTableService.CurrentPage"
                                 DisplayRows="DataTableService.DataLoadingOptions.Take"
                                 DisplayRecords="DataTableService.Entities.Count" />
        </WrapperFooter>
    </DataTableWrapper>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}