@if (Filter == null)
{
    <Loader />
}
else
{
    switch (TabName)
    {
        case nameof(ByDaysAndEmployeesTab):
            <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.StartDate)" class="form-label text-gray" />
                        <InputDate @bind-Value="Filter.StartDate" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.EndDate)" class="form-label text-gray" />
                        <InputDate @bind-Value="Filter.EndDate" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Employee)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Employee" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Company)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Company" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Department)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Department" class="form-control" />
                    </div>
                    <div class="col align-self-end text-end form-group">
                        <Button Text="@Resource.Btn_Clear" OnClick="ClearAsync" class="btn btn-secondary" />
                        <Button @ref="Button" Text="@Resource.Btn_Filter" type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </EditForm>
            break;
        case nameof(ByEmployeesTab):
            <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Employee)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Employee" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Company)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Company" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Department)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Department" class="form-control" />
                    </div>
                    <div class="col align-self-end text-end form-group">
                        <Button Text="@Resource.Btn_Clear" OnClick="ClearAsync" class="btn btn-secondary" />
                        <Button @ref="Button" Text="@Resource.Btn_Filter" type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </EditForm>
            break;
        case nameof(ByDepartmentsTab):
            <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Company)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Company" class="form-control" />
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Department)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Department" class="form-control" />
                    </div>
                    <div class="col align-self-end text-end form-group">
                        <Button Text="@Resource.Btn_Clear" OnClick="ClearAsync" class="btn btn-secondary" />
                        <Button @ref="Button" Text="@Resource.Btn_Filter" type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </EditForm>
            break;
        case nameof(ByWorkstationsTab):
            <EditForm Model="Filter" OnValidSubmit="FilteredAsync">
                <DataAnnotationsValidator />
                <div class="row">
                    <div class="col-sm-6 col-md-4 col-lg-3 col-xl-2 form-group">
                        <Label For="@(() => Filter.Workstation)" class="form-label text-gray" />
                        <InputText @bind-Value="Filter.Workstation" class="form-control" />
                    </div>
                    <div class="col align-self-end text-end form-group">
                        <Button Text="@Resource.Btn_Clear" OnClick="ClearAsync" class="btn btn-secondary" />
                        <Button @ref="Button" Text="@Resource.Btn_Filter" type="submit" class="btn btn-primary" />
                    </div>
                </div>
            </EditForm>
            break;
    }
}