@page "/settings/administrators"
@layout MainLayout
@attribute [Authorize(Roles = ApplicationRoles.Admin)]
@inherits HESPageBase

@if (Initialized)
{
    <DataTableWrapper Loading="DataTableService.Loading">
        <WrapperHeader>
            <DataTableActions ShowFilterButton="false" RefreshTable="@DataTableService.LoadTableDataAsync" CollapseFilter="@DataTableService.ShowFilter" SearchTextChanged="@DataTableService.SearchTextChangedAsync">
                <ActionButtons>
                    <button type="button" @onclick="InviteAdminAsync" class="btn btn-primary me-1" title="Invite admin">
                        Invite admin
                    </button>
                    @if (DataTableService.SelectedEntity != null)
                    {
                        if (!DataTableService.SelectedEntity.EmailConfirmed)
                        {
                            <Button Text="Resend invite" class="btn btn-light border ms-1" OnClick="ResendInviteAsync">
                                <Image>
                                    <img class="icon-btn" src="/svg/icon-send.svg" />
                                </Image>
                            </Button>
                        }
                        if (DataTableService.Entities.Count != 1 && AuthenticationState.User.Identity.Name != DataTableService.SelectedEntity.Email)
                        {
                            <button type="button" @onclick="DeleteAdminAsync" class="btn btn-light border ms-1" title="Delete admin">
                                <img class="icon-btn" src="/svg/icon-delete.svg" />
                                Delete
                            </button>
                        }
                    }
                </ActionButtons>
            </DataTableActions>
        </WrapperHeader>
        <WrapperBody>
            <DataTable Items="DataTableService.Entities" SelectedItem="DataTableService.SelectedEntity" SelecedItemChanged="DataTableService.SelectedItemChangedAsync" Loading="DataTableService.Loading">
                <TableHeader>
                    <DataTableHeaderItem Title="Email"
                                         SortColumn="@nameof(ApplicationUser.Email)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Name"
                                         SortColumn="@nameof(ApplicationUser.DisplayName)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Phone Number"
                                         SortColumn="@nameof(ApplicationUser.PhoneNumber)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Invite Accepted"
                                         SortColumn="@nameof(ApplicationUser.EmailConfirmed)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                    <DataTableHeaderItem Title="Two Factor Enabled"
                                         SortColumn="@nameof(ApplicationUser.TwoFactorEnabled)"
                                         CurrentSortedColumn="@DataTableService.DataLoadingOptions.SortedColumn"
                                         CurrentSortDirection="@DataTableService.DataLoadingOptions.SortDirection"
                                         SortedColumnChanged="DataTableService.SortedColumnChangedAsync"
                                         SortDirectionChanged="DataTableService.SortDirectionChangedAsync" />
                </TableHeader>
                <TableRow>
                    <td>
                        @context.Email
                    </td>
                    <td>
                        @context.DisplayName
                    </td>
                    <td>
                        @context.PhoneNumber
                    </td>
                    <td>
                        @if (context.EmailConfirmed)
                            {
                            <span class="badge bg-success">Yes</span>
                            }
                            else
                            {
                            <span class="badge bg-danger">No</span>
                            }
                    </td>
                    <td>
                        @if (context.TwoFactorEnabled)
                            {
                            <span class="badge bg-success">Yes</span>
                            }
                            else
                            {
                            <span class="badge bg-secondary">No</span>
                            }
                    </td>
                </TableRow>
            </DataTable>
        </WrapperBody>
        <WrapperFooter>
            <DataTablePagination CurrentPageChanged="DataTableService.CurrentPageChangedAsync"
                                 DisplayRowsChanged="DataTableService.DisplayRowsChangedAsync"
                                 TotalRecords="DataTableService.TotalRecords"
                                 CurrentPage="DataTableService.CurrentPage"
                                 DisplayRows="DataTableService.DataLoadingOptions.Take"
                                 DisplayRecords="DataTableService.Entities.Count" />
        </WrapperFooter>
    </DataTableWrapper>
}
else if (LoadFailed)
{
    <LoadingFailed ErrorMessage="@ErrorMessage" />
}
else
{
    <Loader />
}