@if (HardwareVaultTaskList == null)
{
    <LoadingText />
}
else
{
    <div class="max-55vh">
        <table class="table table-hover border rounded w-100">
            <thead>
                <tr>
                    <th>
                        Employee
                    </th>
                    <th>
                        Hardware Vault
                    </th>
                    <th>
                        Operation
                    </th>
                    <th>
                        Created
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in HardwareVaultTaskList)
                {
                    <tr>
                        <td>
                            @item.HardwareVault?.Employee?.FullName
                        </td>
                        <td>
                            @item.HardwareVaultId
                        </td>
                        <td>
                            @switch (item.Operation)
                            {
                                case TaskOperation.Create:
                                    <span class="badge bg-success">Create</span>
                                    break;
                                case TaskOperation.Update:
                                    <span class="badge bg-primary">Update</span>
                                    break;
                                case TaskOperation.Delete:
                                    <span class="badge bg-warning">Delete</span>
                                    break;
                                case TaskOperation.Primary:
                                    <span class="badge bg-primary">Primary</span>
                                    break;
                                case TaskOperation.Profile:
                                    <span class="badge bg-secondary">Profile</span>
                                    break;                            
                                default:
                                    @item.Operation
                                    break;
                            }
                        </td>
                        <td>
                            <div class="d-flex justify-content-between">
                                <span>
                                    @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.CreatedAt, TimeZoneInfo.Local)
                                </span>
                                @if (item.CreatedAt < DateTime.UtcNow.AddDays(-1))
                                {
                                    <img src="/svg/notify-warning.svg" class="ms-auto" title="Long Pending" />
                                }
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-end mt-3">
        <button type="button" class="btn btn-secondary btn-min-w" @onclick="@(async () => await ModalDialogService.CloseAsync())">Close</button>
    </div>
}