@inherits HESModalBase

@if (HardwareVaultTaskList == null)
{
    <Loader />
}
else
{
    <div class="max-55vh">
        <table class="table table-hover border rounded w-100">
            <thead>
                <tr>
                    <th>
                        @Resource.Label_Employee
                    </th>
                    <th>
                        @Resource.Label_HardwareVault
                    </th>
                    <th>
                        @Resource.Label_Operation
                    </th>
                    <th style="width:1%;">
                        @Resource.Label_Created
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in HardwareVaultTaskList)
                {
                    <tr>
                        <td>
                            @item.HardwareVault?.Employee?.FullName
                        </td>
                        <td>
                            @item.HardwareVaultId
                        </td>
                        <td>
                            @switch (item.Operation)
                            {
                                case TaskOperation.Create:
                                    <span class="badge bg-success">Create</span>
                                    break;
                                case TaskOperation.Update:
                                    <span class="badge bg-primary">Update</span>
                                    break;
                                case TaskOperation.Delete:
                                    <span class="badge bg-warning text-dark">Delete</span>
                                    break;
                                case TaskOperation.Primary:
                                    <span class="badge bg-primary">Primary</span>
                                    break;
                                case TaskOperation.Profile:
                                    <span class="badge bg-secondary">Profile</span>
                                    break;
                                default:
                                    @item.Operation
                                    break;
                            }
                        </td>
                        <td class="@(item.CreatedAt < DateTime.UtcNow.AddDays(-3) ? "bg-warning": string.Empty)" title="@(item.CreatedAt < DateTime.UtcNow.AddDays(-3) ? Resource.Title_LongPending : string.Empty)">
                            @TimeZoneInfo.ConvertTimeFromUtc((DateTime)item.CreatedAt, TimeZoneInfo.Local)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="text-end mt-3">
        <button type="button" class="btn btn-secondary btn-min-w" @onclick="ModalDialogCancel">@Resource.Btn_Close</button>
    </div>
}